body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

form {
    display: flex;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#search-input {
    margin-top: 2px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-button {
    margin-top: 2px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

.edit-btn {
    background: none;
    border: none;
    color: #0034e0;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0020a1;
    color: white;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
    color: white;
}

.delete-all-btn {
    background-color: red;
    color: white;
}

.delete-all-btn:hover {
    background-color: darkred;
}